[Desktop Entry]
Encoding=UTF-8
Name=GitHub
Type=Link
URL=http://github.com
Icon=/home/jos/.config/tint2/unleashed/.bookmarks-dot/icons/github.png
Exec=env GTK_THEME=Adwaita:light firefox-nightly -new-tab https://github.com
