# copy to /etc/systemd/system/wakelock.service

[Unit]
Description=Lock before suspend machine
Before=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/jos/.scripts/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
